{% extends "maps/base.html" %}
{% load static %}
{% block header %}
<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'maps/packages/core/main.css' %}" rel='stylesheet' >
<link rel="stylesheet" href="{% static 'maps/packages/daygrid/main.css' %}" rel='stylesheet' />
<link rel="stylesheet" href="{% static 'maps/packages/timegrid/main.css' %}" rel='stylesheet' />
<link rel="stylesheet" href="{% static 'maps/packages/list/main.css' rel=' %}" rel='stylesheet' />
<script src="{% static 'maps/packages/core/main.js' %}"></script>
<script src="{% static 'maps/packages/interaction/main.js' %}"></script>
<script src="{% static 'maps/packages/daygrid/main.js' %}"></script>
<script src="{% static 'maps/packages/timegrid/main.js' %}"></script>
<script src="{% static 'maps/packages/list/main.js' %}"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: [ 'dayGrid', 'timeGrid', 'list', 'interaction' ],
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'listWeek,dayGridMonth,timeGridWeek,timeGridDay'
      },
      navLinks: true, // can click day/week names to navigate views
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: {{itinerary_in_json|safe}}
    });

    calendar.render();
  });

</script>
<style>
.fc-title{
    font-size: 1.2em;
}
.fc-time{
    font-size: 1.0em;
}
#calendar {
    margin: 0 auto;
}
</style>
{% endblock header %}

{% block content %}
<body>
  <div id='calendar'></div>
</body>
{% endblock content %}