{% extends "maps/base.html" %}
{% load static %}
{% block header %}
<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'maps/packages/core/main.css' %}" rel='stylesheet' >
<link rel="stylesheet" href="{% static 'maps/packages/daygrid/main.css' %}" rel='stylesheet' />
<link rel="stylesheet" href="{% static 'maps/packages/timegrid/main.css' %}" rel='stylesheet' />
<link rel="stylesheet" href="{% static 'maps/packages/list/main.css' rel=' %}" rel='stylesheet' />
<script src="{% static 'maps/packages/core/main.js' %}"></script>
<script src="{% static 'maps/packages/interaction/main.js' %}"></script>
<script src="{% static 'maps/packages/daygrid/main.js' %}"></script>
<script src="{% static 'maps/packages/timegrid/main.js' %}"></script>
<script src="{% static 'maps/packages/list/main.js' %}"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: [ 'dayGrid', 'timeGrid', 'list', 'interaction' ],
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'listWeek,dayGridMonth,timeGridWeek,timeGridDay'
      },
      navLinks: true, // can click day/week names to navigate views
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: {{itinerary_in_json|safe}},
      eventTextColor: '#ecf0f1'
    });

    calendar.render();
  });

</script>
<style>
#calendar {
    margin: 0 auto;
}
html, body { height: 100%; margin: 0; padding: 0; }
#map { height: 100%; width: 100%; height: 600px; }
</style>
{% endblock header %}

{% block content %}
<div id="map"></div>
<body>
  <div id='calendar'></div>
</body>
<script>
    function initMap() {
      var colors = ['blue', 'fuchsia', 'green', 'navy', 'olive', 'purple', 'red', 'yellow'];
      var num = 0;
      var service = new google.maps.DirectionsService;
      var map = new google.maps.Map(document.getElementById('map'));
  
      // list of points
      var stations = {{ location_list|safe }}
      var routes = {{ route_list|safe }}
  
      // Zoom and center map automatically by stations (each station will be in visible map area)
      var lngs = stations.map(function(station) { return station.lng; });
      var lats = stations.map(function(station) { return station.lat; });
      map.fitBounds({
          west: Math.min.apply(null, lngs),
          east: Math.max.apply(null, lngs),
          north: Math.min.apply(null, lats),
          south: Math.max.apply(null, lats),
      });
  
      // Show stations on the map as markers
      for (var i = 0; i < stations.length; i++) {
          new google.maps.Marker({
              position: stations[i],
              map: map,
              title: stations[i].name
          });
      }
  
      // Service callback to process service results
      var service_callback = function(response, status) {
          if (status != 'OK') {
              console.log('Directions request failed due to ' + status);
              return;
          }
          var renderer = new google.maps.DirectionsRenderer;
          renderer.setMap(map);
          renderer.setOptions({ suppressMarkers: true, preserveViewport: true, polylineOptions: {
                    strokeColor: colors[num++]
                }});
          renderer.setDirections(response);
      };
  
      // Send requests to service to get route (for stations count <= 25 only one request will be sent)
      for (var i = 0; i < routes.length; i++) {
          // Waypoints does not include first station (origin) and last station (destination)
          var waypoints = [];
          for (var j = 1; j < routes[i].length - 1; j++)
              waypoints.push({location: routes[i][j], stopover: false});
          // Service options
          var service_options = {
              origin: routes[i][0],
              destination: routes[i][routes[i].length - 1],
              waypoints: waypoints,
              travelMode: 'WALKING'
          };
          // Send request
          service.route(service_options, service_callback);
      }
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDChff6mfZVegGKChBtmAi0lf3FWsH0aek&callback=initMap"></script>
{% endblock content %}