<!-- {% extends "maps/base.html" %}
 -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../../static/maps/loading.css" />
<!--     <link rel="stylesheet" type="text/css" href="{% static 'maps/loading.css' %}"> -->
    <title>Website Preloader</title>
  </head>
  <body>
    <div class="preload">
      <img class="airplane" src="../../static/maps/media/load_img/airplane.png" alt="airplane" />
      <h3>Creating Your Itinerary...</h3>
      <img src="../../static/maps/media/load_img/cloud.png" alt="cloud1" class="cloud1" />
      <img src="../../static/maps/media/load_img/cloud.png" alt="cloud2" class="cloud2" />
      <img src="../../static/maps/media/load_img/cloud.png" alt="cloud3" class="cloud3" />
    </div>
  </body>
</html>
