{% extends "maps/base.html" %}
{% load static %}
{% block header %}
<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://unpkg.com/jquery"></script>
<script src="https://surveyjs.azureedge.net/1.5.10/survey.jquery.js"></script>
<link href="https://surveyjs.azureedge.net/1.5.10/modern.css" type="text/css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="{% static 'maps/survey.css' %}">


{% endblock header %}
{% block content %}

<body>
  <div class="container h-50">
    <div class="row justify-content-center align-items-center h-100">
        <div id="surveyElement" style="display:inline-block;width:130%;"></div>
        <div id="surveyResult"></div>
    </div>
    <!-- <a href="{% url 'site-display' %}">Display</a> -->
  </div>

  <script>
    Survey
    .StylesManager
    .applyTheme("modern");

var json = {
    title: "Personalization Survey",
    showProgressBar: "bottom",
    firstPageIsStarted: true,
    startSurveyText: "Start Survey",
    pages: [
        {
            questions: [
                {
                    type: "html",
                    html: "You are about to answer some questions for us to better understand your preferences.<br/>Please click on <b>'Start Survey'</b> button when you are ready."
                }
            ]
        }, {
            questions: [
                {
                    type: "radiogroup",
                    name: "start_day",
                    title: "When would you like to start your day during the trip?",
                    defaultValue: "9:00 am",
                    choices: [
                        "7:00 am", "8:00 am", "9:00 am", "10:00 am", "11:00 am"
                    ],
                }
            ]
        }, {
            questions: [
                {
                    type: "radiogroup",
                    name: "end_day",
                    title: "When would you like to end your day during the trip?",
                    defaultValue: "7:00 pm",
                    choices: [
                        "5:00 pm", "6:00 pm", "7:00 pm", "8:00 pm", "9:00 pm"
                    ],
                }
            ]
        }, {
            questions: [
                {
                    type: "radiogroup",
                    name: "number_of_attractions",
                    title: "How many attractions would you like to visit everyday?",
                    defaultValue: "3",
                    choices: [
                        "1", "2", "3", "4", "5"
                    ],
                }
            ]
        }, {
            questions: [
                {
                    type: "radiogroup",
                    name: "have_breakfast",
                    title: "Would you like to have breakfast?",
                    defaultValue: "Yes",
                    choices: [
                        "Yes", "No",
                    ],
                }
            ]
        }
    ],
};

// store survey result to local storage
var survey = new Survey.Model(json);
var storageName = "survey_result";
function saveSurveyData(survey) {
    var data = survey.data;
    window
        .localStorage
        .setItem(storageName, JSON.stringify(data));
}

// survey
//     .onComplete
//     .add(function (result) {
//         document
//             .querySelector('#surveyResult')
//             .textContent = "Result JSON:\n" + JSON.stringify(result.data, null, 3);
//     });

// redirect to display after completion

survey
    .onComplete
    .add(function (survey, options) {
        saveSurveyData(survey);
        window.location.replace('../loading?dest_and_dates=' + localStorage.getItem("dest_and_dates") + '&survey_result=' + localStorage.getItem("survey_result"));
    });

$("#surveyElement").Survey({model: survey});

</script>

<script>
    //parse url to get parameters
    function parseURLParams(url) {
    var queryStart = url.indexOf("?") + 1,
        queryEnd   = url.indexOf("#") + 1 || url.length + 1,
        query = url.slice(queryStart, queryEnd - 1),
        pairs = query.replace(/\+/g, " ").split("&"),
        parms = {}, i, n, v, nv;

    if (query === url || query === "") return;

    for (i = 0; i < pairs.length; i++) {
        nv = pairs[i].split("=", 2);
        n = decodeURIComponent(nv[0]);
        v = decodeURIComponent(nv[1]);

        if (!parms.hasOwnProperty(n)) parms[n] = [];
        parms[n].push(nv.length === 2 ? v : null);
    }
    return parms;
}
    //parse url to get destination and dates
    var urlString = window.location.href;
    var urlParams = parseURLParams(urlString);
    localStorage.setItem("dest_and_dates", JSON.stringify(urlParams));

</script>

  <!-- <script type="text/javascript" src="{% static 'map/js/survey.js'%}"></script> -->
  <!-- <div class="center-block">
    <h1>Wander</h1>
  </div> -->
</body>

{% endblock content %}
